<link href="/css/style.css" rel="stylesheet" type="text/css">
<style>
    .email-background {
        background: #eee;
        padding: 10px;  }

    .email-container {
        background: white;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;  }

    .email-preheader {
        background: #eee;
        color: #555;
        font-size: 15px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;  }

    .email-footer {
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        padding: 20px;
        text-align: center;  }

    .email-bar {
        height: 50px;
        width: 300px;
        display: inline-block;
        background-color: #e9ecef;
        overflow: hidden;
        border-radius: .20rem;
        margin: 3px 0 0 0;  }

    .email-container-printer {
        display: block;
        position: relative;
        margin: 20px auto;
        width: 310px;
        border-radius: .25rem;
        padding: 5px;  }

    .progress-bar-toner {
        height: 50px;
        color: #ffffff;
        text-align: center;
        line-height: 45px;  }

    .email-container-section-toners {
        width: 300px;
        display: inline-block;  }

    .email-chart {
        display: inline-block;
        width: 675px;  }

    .email-printer-heading {
        color: #000;
        text-align: center;  }

    .email-status-green{
        color: #06ff00;  }

    .email-status-red{
        color: #ff0000;  }

    .email-status-container{
        text-align: center;  }

    .black-bar {  background-color: #000;  }
    .cyan-bar-map {  background-color: #96d8f3;  }
    .magenta-bar-map {  background-color: #ec008c;  }
    .yellow-bar-map {  background-color:#f0d470;  }

</style>

<div class="email-background" style="background: #8b9dc3;padding: 10px;">
    <!-- email header -->
    <table class="email-preheader" align="center" style="font-size: 15px;margin: 0 auto;text-align:center;width: 50%;background: #8b9dc3;color: #fff;">
        <tr style="height: 25px;width: 50%">
            <td>Toonerite seis {{date}}</td>
        </tr>
    </table>
    <div>
        <!-- email contents -->
        <div class="email-container" style="background: white;margin: 0 auto;overflow: hidden;border-radius: 5px;">
             <!-- status overview -->
            <div class="email-status-container" style="text-align: center;">
                {{#if all_is_good}}
                    <p class="email-status-green" style="color: #06ff00;">Printerid on korras</p>
                {{else}}
                    <p class="email-status-red" style="color: #ff0000;">Mõned toonerid on madalad</p>
                {{/if}}
            </div>
            <!-- status overview end -->
            {{#each printers}}
                {{#if this.cartridge.critical}}
                    {{#if this.color}}
                        <!-- colored printer node -->
                        <div class="email-container-printer" style="display: block;position: relative;margin: 20px auto;width: 310px;border-radius: .25rem;padding: 5px;">
                            <!-- node info -->
                            <table class="email-printer-heading" align="center" style="color: #000;text-align: center;width: 300px">
                                <tbody>
                                <tr><td align="center">{{this.name}}</td></tr>
                                <tr><td align="center">{{this.ip}}</td></tr>
                                </tbody>
                            </table>
                            <!-- black cartridge -->
                            <table align="center" class="email-container-section-toners" style="width: 300px;display: inline-block;">
                                <tbody>
                                <tr>
                                    <td align="center" style="background-color:#6a696b;color:#ffffff;width:{{this.cartridge.black.value}}%;height: 40px;">{{this.cartridge.black.value}}%</td>
                                    <td style="background-color:#eeeeee;padding:0;width: 300px"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- cyan cartridge -->
                            <table align="center" class="email-container-section-toners" style="width: 300px;display: inline-block;">
                                <tbody>
                                <tr>
                                    <td align="center" style="background-color:#aad4fa;color:#ffffff;width:{{this.cartridge.cyan.value}}%;"><p style="position: absolute;top:10px;left: 50%;line-height: 1;">{{this.cartridge.cyan.value}}%</p></td>
                                    <td style="background-color:#eeeeee;padding:0;width: 300px;height: 40px;"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- yellow cartridge -->
                            <table align="center" class="email-container-section-toners" style="width: 300px;display: inline-block;">
                                <tbody>
                                <tr>
                                    <td align="center" style="background-color:#F0D470;color:#ffffff;width:{{this.cartridge.cyan.value}}%;">{{this.cartridge.yellow.value}}%</td>
                                    <td style="background-color:#eeeeee;padding:0;width: 300px;height: 40px;"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- magenta cartridge -->
                            <table align="center" class="email-container-section-toners" style="width: 300px;display: inline-block;">
                                <tbody>
                                <tr>
                                    <td align="center" style="background-color:#EC008C;color:#ffffff;width:{{this.cartridge.magenta.value}}%;">{{this.cartridge.magenta.value}}%</td>
                                    <td style="background-color:#eeeeee;padding:0;width: 300px;height: 40px;"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- colored printer node end -->
                    {{else}}
                        <!-- black & white node -->
                        <div class="email-container-printer" style="display: block;position: relative;margin: 20px auto;width: 310px;border-radius: .25rem;padding: 5px;">
                            <div class="email-container-printer" style="display: block;position: relative;margin: 20px auto;width: 100%;border-radius: .25rem;padding: 5px;">
                                <!-- node info -->
                                <table class="email-printer-heading" align="center" style="color: #000;text-align: center;width: 300px">
                                    <tbody>
                                        <tr><td align="center" style="background-color: #3b5796;color: white;">{{this.name}} <br> {{this.ip}}</td></tr>
                                        <tr><td align="center">{{this.cartridge.black.name}} <br> storage : {{this.cartridge.black.supply.storage}}</td></tr>
                                    </tbody>
                                </table>
                                <!-- black cartridge -->
                                <table align="center" class="email-container-section-toners" style="width: 300px;display: inline-block;">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="background-color:#6a696b;color:#ffffff;width:{{this.cartridge.black.value}}%;height: 40px;">{{this.cartridge.black.value}}%</td>
                                        <td style="background-color:#eeeeee;padding:0;width: 300px"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- black & white node end -->
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        <!-- email footer -->
        <table class="email-preheader" align="center" style="background: #8b9dc3;color: #fff;font-size: 15px;margin: 0 auto;text-align:center;width: 50%">
            <tr style="height: 25px;width: 50%">
                <td>@EestiMeediaPrinterid</td>
            </tr>
        </table>
    </div>
</div>

<form action="/emailstuff" method="post">
    <button class="btn btn-primary">submit</button>
</form>


































