<style>
    body {
        background: url('http://jahdaicintron.com/wp-content/uploads/2013/07/5.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        font-family: Ubuntu;
        font-size: 18px;
        color: #fff;
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.4)
    }
</style>
<button class="button-special-style" id="printer-add-table-toggle" onclick="togglePrinterAdd()" style="display: block;left: 50%;position: relative;transform: translateX(-50%);">
    Add a printer
</button>
    <table id="printer-creation" style="display: none">
        <thead>
        <tr>
            <th>IP</th>
            <th>COLOR</th>
            <th>NAME</th>
            <th>MAX CAPACITY</th>
            <th>FLOOR</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
       <tr>
           <td>
               <input id="input-ip" class="printer-add" required>
           </td>
           <td>
               <input id="input-color" class="printer-add" type="checkbox">
           </td>
           <td>
               <input id="input-name" class="printer-add" required>
           </td>
           <td>
               <input id="input-max-capacity" class="printer-add" type="checkbox">
           </td>
           <td>
               <select id="input-floor" class="printer-add">
                   <option>12</option>
                   <option>10</option>
                   <option>6</option>
                   <option>5</option>
                   <option>4</option>
                   <option>3</option>
                   <option>2</option>
                   <option>1</option>
               </select>
           </td>
           <td>
              <form method="post" action="/admin/printer/add">
                   <button id="button-printer-add" class="button-special-style" onclick="addPrinter()">Add</button>
                   <input hidden name="input_ip_submit"           id="input-ip-submit">
                   <input hidden name="input_color_submit"        id="input-color-submit">
                   <input hidden name="input_name_submit"         id="input-name-submit">
                   <input hidden name="input_max_capacity_submit" id="input-max-capacity-submit">
                   <input hidden name="input_floor_submit"        id="input-floor-submit">
               </form>
           </td>
       </tr>
        </tbody>
    </table>


<table>
    <thead>
    <tr>
        <th>NR</th>
        <th>NAME</th>
        <th>IP</th>
        <th>COLOR</th>
        <th>NEEDS CALCULATIONS</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each printers_all}}
        <tr id="row-{{@index}}">
            <td>{{@index}}</td>
            <td><input class="admin_input admin_input-cell" id="{{@index}}-name" name="printer-name" value="{{this.name}}"/></td>
            <td><input class="admin_input admin_input-cell" id="{{@index}}-ip" name="printer-ip" value="{{this.ip}}"/></td>
            <td class="input-color" id="color-{{@index}}">


            {{#if this.color}}
                <p class="identification-{{@index}}">yes</p>
                <input checked class="input-identification-color-{{@index}} input-display" type="checkbox">
            {{else}}
                <p class="identification-{{@index}} ">no</p>
                <input class="input-identification-color-{{@index}} input-display" type="checkbox">



            </td>
            {{/if}}

            <td class="input-max-capacity" id="max-capacity-{{@index}}">
                {{#if this.max_capacity}}
                    <p class="identification-{{@index}}">true</p>
                    <input checked class="input-identification-max-capacity-{{@index}} input-display" type="checkbox">
                    {{else}}
                    <p class="identification-{{@index}} ">false</p>
                    <input class="input-identification-max-capacity-{{@index}} input-display" type="checkbox">
                {{/if}}
            </td>
            <td>
                <button class="button-special-style" id="modify-{{@index}}" onclick="modifyToggle({{@index}})">Modify
                </button>
                <form method="post" action="/admin/update" style="display:inline-block">

                    <input type="hidden" class="admin_input" id="{{@index}}-name"          name="printer_name"         value="{{this.name}}"/>
                    <input type="hidden" class="admin_input" id="{{@index}}-ip"            name="printer_ip"           value="{{this.ip}}"/>
                    <input type="hidden" class="admin_input" id="{{@index}}-key"           name="printer_key_name"     value="{{this.key_name}}"/>
                    <input type="hidden" class="admin_input" id="{{@index}}-color"         name="printer_color"        />
                    <input type="hidden" class="admin_input" id="{{@index}}-max-capacity"  name="printer_max_capacity" />


                    <button onclick="savePrinterData({{@index}})" class="button-special-style" id="save-{{@index}}"
                            style="display: none">Save
                    </button>
                </form>


                <form method="post" action="/admin/printer/delete" style="display:inline-block">
                    <button class="button-special-style" id="delete-{{@index}}" onclick="deletePrinter({{@index}})" style="display: none">Delete</button>
                    <input hidden name="input_name_delete" id="input_name_delete-{{@index}}">
                    <input hidden name="input_ip_delete" id="input_ip_delete-{{@index}}">
                </form>

                <form action="/{{this.floor}}/{{this.name}}" style="display:inline-block">
                    <button class="button-special-style">Asukoht</button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>







