<style>
    body {
        background: url('http://jahdaicintron.com/wp-content/uploads/2013/07/5.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        font-family: Ubuntu;
        font-size: 18px;
        color: #fff;
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.4)
    }


</style>

<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>IP</th>
        <th>COLOR</th>
    </tr>
    </thead>
    <tbody>
    {{#each printers_all}}
        <tr>
            <td><input class="admin_input" id="{{@index}}-name" name="printer-name" value="{{this.name}}"/></td>
            <td><input class="admin_input" id="{{@index}}-ip" name="printer-ip" value="{{this.ip}}"/></td>
            {{#if this.color}}
            <td>yes</td>
                {{else}}
                <td>no</td>
            {{/if}}
            <td>
                <form method="post" action="/admin/update">
                    <input type="hidden" class="admin_input" id="{{@index}}-name" name="printer_name" value="{{this.name}}"/>
                    <input type="hidden" class="admin_input" id="{{@index}}-ip" name="printer_ip" value="{{this.ip}}"/>
                    <input type="hidden" class="admin_input" id="{{@index}}-key" name="printer_key_name" value="{{this.key_name}}"/>
                    <button onclick="savePrinterData({{@index}})" class="button-special-style" id="{{@index}}">Save
                    </button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>


<button class="button-special-style" id="contact">Add a printer</button>

<div id="contactForm">
    <form method="post" action="/admin/add-printer">
        <p class="add-printer-text">ADD A PRINTER</p>
        <input class="input" placeholder="Printer" type="text" required/>
        <input class="input" placeholder="IP" type="text" required/>
        <input class="input" placeholder="1 if color 0 if not" type="number" min="0" max="1" required/>
        <button class="formBtn" href="/admin/add-printer">SUBMIT</button>
        <button class="formBtn" type="reset">RESET</button>
    </form>
</div>