{{#each floors}}
    <div class="text-center">
        <form action="/{{this}}k">
            <button id="{{this}}k" name="{{this}}k" class="btn btn-primary btn-settings btn-color" href="/{{this}}k">
                <a class="btn-color" href="{{this}}k">{{this}}. korrus!</a>
            </button>
        </form>
    </div>
{{/each}}