<div class="main-container">
    <div style="background-color: white;width: 309px;
    margin: 0 auto;
    border-radius: 3px;">
        {{#each floors}}
            <div class="btn-checkbox-filter">
                <label for="{{this}}">{{this}}k</label>
                <input checked id="{{this}}" class="floor-{{this}}" value="{{this}}" type="checkbox"
                       onchange="valueChanged('{{this}}')">
            </div>
        {{/each}}
    </div>
    <div>
        {{#each critical_printers}}
            <div>
                <form action="/{{this.floor}}k/{{this.name}}" style="margin:10px 0 0 0;">
                    <button class="btn btn-danger" style="height: 37px;">Asukoht</button>
                </form>
                <p class="list-group-item list-group-item-action list-group-item-danger"
                   style="float: left; line-height: 1">
                    <a href="//{{this.ip}}/" target=_blank" rel="noopener">{{this.ip}}</a>
                </p>
                {{#lessOrEquals 25 this.cartridge.black.value}}
                    <p class="list-group-item list-group-item-action list-group-item-danger list-critical"> {{this.cartridge.black.name}}
                        : {{this.cartridge.black.value}}%
                    </p>
                {{/lessOrEquals}}

                {{#lessOrEquals 25 this.cartridge.cyan.value}}
                    <p class="list-group-item list-group-item-action list-group-item-danger list-critical"> {{this.cartridge.cyan.name}}
                        : {{this.cartridge.cyan.value}}%
                    </p>
                {{/lessOrEquals}}

                {{#lessOrEquals 25 this.cartridge.magenta.value}}
                    <p class="list-group-item list-group-item-action list-group-item-danger list-critical"> {{this.cartridge.magenta.name}}
                        : {{this.cartridge.magenta.value}}%
                    </p>
                {{/lessOrEquals}}

                {{#lessOrEquals 25 this.cartridge.yellow.value}}
                    <p class="list-group-item list-group-item-action list-group-item-danger list-critical"> {{this.cartridge.yellow.name}}
                        : {{this.cartridge.yellow.value}}%
                    </p>
                {{/lessOrEquals}}
            </div>
        {{/each}}
    </div>
    <div class="main-container container-home" id="container">
        {{#each printers}}
            {{#if this.color}}
                <div class="printer printer-{{this.floor}}">
                    <div class="pr-12k title">
                        <a name="title" href="//{{this.ip}}/" target="_blank" rel="noopener">{{this.name}}
                            <br>{{this.ip}}</a></div>
                    <div>
                        <form class="input-inline" action="/{{this.floor}}k/{{this.name}}">
                            <button class="button-special-style {{this.name}}" href="/{{this.floor}}k/{{this.name}}">
                                Asukoht
                            </button>
                        </form>
                        <form class="input-inline" action="/storage/{{this.name}}">
                            <button class="button-special-style">
                                Laoseis
                            </button>
                            <input type="submit" hidden name="selected-storage-black"
                                   value="{{this.cartridge.black.name}}">
                        </form>
                    </div>
                    <section class="black-precentage-section">
                        <article>
                            <div class="chart">

                                <form method="post" action="/cartridge/storage">
                                    <div class="quantity">
                                        <p class="quantity-cartridge-info">{{this.cartridge.black.name}} Storage: </p>
                                        <input class="cartridge-storage" name="inc_storage_count"
                                               aria-label="inc-storage-number" type="number" min="1"
                                               step="1" value="{{this.cartridge.black.supply.storage}}">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="printer-title" name="inc_storage_title"
                                           value="{{this.name}}">
                                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                                           value="{{this.cartridge.black.name}}">
                                    <input type="hidden" class="cartridge-name" name="update_route"
                                           value="/">
                                </form>
                                <div class="bar bar-cartridge bar-{{this.cartridge.black.value}} gray">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar growing-bar-adjustment"><p
                                                class="p-adjust-black">{{this.cartridge.black.value}}%</p></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>

                    <section>
                        <article>
                            <div class="chart">

                                <form method="post" action="/cartridge/storage">
                                    <div class="quantity">
                                        <p class="quantity-cartridge-info">{{this.cartridge.cyan.name}} Storage: </p>
                                        <input class="cartridge-storage" name="inc_storage_count" type="number" min="1"
                                               step="1" value="{{this.cartridge.cyan.supply.storage}}">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="printer-title" name="inc_storage_title"
                                           value="{{this.name}}">
                                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                                           value="{{this.cartridge.cyan.name}}">
                                    <input type="hidden" class="cartridge-name" name="update_route"
                                           value="/">
                                </form>

                                <div class="bar bar-cartridge bar-{{this.cartridge.cyan.value}} cyan">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar growing-bar-adjustment"><p
                                                class="p-adjust">{{this.cartridge.cyan.value}}%</p></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <section>
                        <article>
                            <div class="chart">

                                <form method="post" action="/cartridge/storage">
                                    <div class="quantity">
                                        <p class="quantity-cartridge-info">{{this.cartridge.magenta.name}} Storage: </p>
                                        <input class="cartridge-storage" name="inc_storage_count" type="number" min="0"
                                               step="1" value="{{this.cartridge.magenta.supply.storage}}">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="printer-title" name="inc_storage_title"
                                           value="{{this.name}}">
                                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                                           value="{{this.cartridge.magenta.name}}">
                                    <input type="hidden" class="cartridge-name" name="update_route"
                                           value="/">
                                </form>

                                <div class="bar bar-cartridge bar-{{this.cartridge.magenta.value}} magenta">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar growing-bar-adjustment"><p
                                                class="p-adjust">{{this.cartridge.magenta.value}}%</p></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                    <section>
                        <article>
                            <div class="chart">
                                <form method="post" action="/cartridge/storage">
                                    <div class="quantity">
                                        <p class="quantity-cartridge-info">{{this.cartridge.yellow.name}} Storage: </p>
                                        <input class="cartridge-storage" name="inc_storage_count" type="number" min="1"
                                               step="1" value="{{this.cartridge.yellow.supply.storage}}">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="printer-title" name="inc_storage_title"
                                           value="{{this.name}}">
                                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                                           value="{{this.cartridge.yellow.name}}">
                                    <input type="hidden" class="cartridge-name" name="update_route"
                                           value="/">
                                </form>
                                <div class="bar bar-cartridge bar-{{this.cartridge.yellow.value}} yellow">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar growing-bar-adjustment"><p
                                                class="p-adjust">{{this.cartridge.yellow.value}}%</p></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>

            {{else}}

                <div class="printer printer-{{this.floor}}">
                    <div class="title"><a href="//{{this.ip}}/" target="_blank" rel="noopener">{{this.name}}
                        <br>{{this.ip}}</a></div>
                    <div>
                        <form class="input-inline" action="/{{this.floor}}k/{{this.name}}">
                            <button class="button-special-style {{this.name}}" href="/{{this.floor}}k/{{this.name}}">
                                Asukoht
                            </button>
                        </form>
                        <form class="input-inline" action="/storage/{{this.name}}">
                            <button class="button-special-style">
                                Laoseis
                            </button>
                            <input type="submit" hidden name="selected-storage-black"
                                   value="{{this.cartridge.black.name}}">
                        </form>
                    </div>
                    <section class="black-precentage-section">
                        <article>
                            <div class="chart">

                                <form method="post" action="/cartridge/storage">
                                    <div class="quantity">
                                        <p class="quantity-cartridge-info">{{this.cartridge.black.name}} Storage: </p>
                                        <input class="cartridge-storage" name="inc_storage_count" type="number" min="0"
                                               step="1" value="{{this.cartridge.black.supply.storage}}">
                                        <div class="quantity-nav">
                                            <div class="quantity-button quantity-up">+</div>
                                            <div class="quantity-button quantity-down">-</div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="printer-title" name="inc_storage_title"
                                           value="{{this.name}}">
                                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                                           value="{{this.cartridge.black.name}}">
                                    <input type="hidden" class="cartridge-name" name="update_route"
                                           value="/">
                                </form>

                                <div class="bar bar-{{this.cartridge.black.value}} gray">
                                    <div class="face top">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-0">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face floor">
                                        <div class="growing-bar"></div>
                                    </div>
                                    <div class="face side-a"></div>
                                    <div class="face side-b"></div>
                                    <div class="face side-1">
                                        <div class="growing-bar growing-bar-adjustment"><p
                                                class="p-adjust-black">{{this.cartridge.black.value}}%</p></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>