<div class="container">
    <div class="led-box">
        <div class="internet-access-notification"></div>
        <div id="internet-access-indicator" class=""></div>
    </div>
    <div class="data-last-updated"></div>
</div>

<div class="container" style="flex-flow: inherit;">
    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_12k_HPMFP252n__ip}}/" target="_blank">{{printers.pr_tln_12k_HPMFP252n__name}}<br>{{printers.pr_tln_12k_HPMFP252n__ip}}</a></div>
    <section>
        <article>
            <div>
                <p>Lao seis</p>
                <button class="add_item">+1</button>
                <button class="remove_item">-1</button>
            </div>

            <p>{{printers.pr_tln_5k_HP200__cartridge__black}}</p>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__black}} gray">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_12k_HPMFP252n__black}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__cyan}} cyan">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__cyan}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__magenta}} magenta">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__magenta}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__yellow}} yellow">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__yellow}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    </div>



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_10k_HP2420n__ip}}/" target="_blank">{{printers.pr_tln_10k_HP2420n__name}}<br>{{printers.pr_tln_10k_HP2420n__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HP2420n__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_10k_HP2420n__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_10k_HPM476dn__ip}}/" target="_blank">{{printers.pr_tln_10k_HPM476dn__name}}<br>{{printers.pr_tln_10k_HPM476dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_10k_HPM476dn__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_6k_HP400dne__ip}}/" target="_blank">{{printers.pr_tln_6k_HP400dne__name}}<br>{{printers.pr_tln_6k_HP400dne__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP400dne__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP400dne__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>






<div class="container" style="flex-flow: inherit;">
    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_6k_HP400__ip}}/" target="_blank">{{printers.pr_tln_6k_HP400__name}}<br>{{printers.pr_tln_6k_HP400__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP400__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP400__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_6k_HP200__ip}}/" target="_blank">{{printers.pr_tln_6k_HP200__name}}<br>{{printers.pr_tln_6k_HP200__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP200__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_6k_HPM476dn__ip}}/">{{printers.pr_tln_6k_HPM476dn__name}}<br>{{printers.pr_tln_6k_HPM476dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HPM476dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HPM476dn__black }}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HPM476dn__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HPM476dn__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HPM476dn__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HPM476dn__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HPM476dn__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HPM476dn__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_5k_HP200__ip}}/">{{printers.pr_tln_5k_HP200__name}}<br>{{printers.pr_tln_5k_HP200__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_5k_HP200__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>




</div>
<div class="container" style="flex-flow: inherit;">
    <div class="printer">
        <div class="pr-12k title"><a href="{{printers.pr_tln_4k_HP5225dn__ip}}">{{printers.pr_tln_4k_HP5225dn__name}}<br>{{printers.pr_tln_4k_HP5225dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP5225dn__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_4k_HP400__ip}}/">{{printers.pr_tln_4k_HP400__name}}<br>{{printers.pr_tln_4k_HP400__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP400__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP400__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_4k_HP_P3005__ip}}/">{{printers.pr_tln_4k_HP_P3005__name}}<br>{{printers.pr_tln_4k_HP_P3005__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP_P3005__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP_P3005__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_4k_HP521dn__ip}}/">{{printers.pr_tln_4k_HP521dn__name}}<br>{{printers.pr_tln_4k_HP521dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP521dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP521dn__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>






</div>

<div class="container" style="flex-flow: inherit;">



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_3k_HP476dn__ip}}/">{{printers.pr_tln_3k_HP476dn__name}}<br>{{printers.pr_tln_3k_HP476dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_3k_HP476dn__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__cyan}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__cyan}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__magenta}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__magenta}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__yellow}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__yellow}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_2k_HPPro8610__ip}}/">{{printers.pr_tln_2k_HPPro8610__name}}<br>{{printers.pr_tln_2k_HPPro8610__ip}}</a></div>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__black}} gray">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_2k_HPPro8610__black}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__cyan}} cyan">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__cyan}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__magenta}} magenta">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__magenta}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__yellow}} yellow">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__yellow}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>





    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_2k_HP1320n__ip}}/">{{printers.pr_tln_2k_HP1320n__name}}<br>{{printers.pr_tln_2k_HP1320n__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_2k_HP1320n__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_2k_HP1320n__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <div class="pr-12k title"><a href="//{{printers.pr_tln_1k_HP255dn__ip}}/">{{printers.pr_tln_1k_HP255dn__name}}<br>{{printers.pr_tln_1k_HP255dn__ip}}</a></div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_1k_HP255dn__black}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_1k_HP255dn__black}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>