<div class="container">
    <div class="led-box">
        <div class="internet-access-notification"></div>
        <div id="internet-access-indicator" class=""></div>
    </div>
    <div class="data-last-updated"></div>
</div>
<div class="container" id="container">
    {{#each printers}}
      {{#if this.color}}
        <div class="printer">
            <div class="pr-12k title">
                <a name="title" href="//printers.pr_tln_12k_HPMFP252n__ip/" target="_blank">{{this.name}}<br>{{this.ip}}</a></div>
            <section>
                <article>
                    <div class="chart">

                        <form method="post">
                            <div class="quantity">
                                <p class="quantity-cartridge-info">{{this.cartridge.black.name}} Storage: </p>
                                <input class="cartridge-storage" name="inc_storage_count" type="number" min="1" step="1" value="{{inc_supply.pr_tln_12k_HP_MFP252n_Cyan_supplies.supply}}">
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up">+</div>
                                    <div class="quantity-button quantity-down">-</div>
                                </div>
                            </div>
                            <input type="hidden" class="printer-title" name="inc_storage_title" value="{{this.name}}">
                            <input type="hidden" class="cartridge-name" name="inc_storage_name" value="{{this.cartridge.black.name}}">
                        </form>

                        <div class="bar bar-cartridge bar-{{this.cartridge.black.value}} gray">
                            <div class="face top">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-0">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face floor">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-a"></div>
                            <div class="face side-b"></div>
                            <div class="face side-1">
                                <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{this.cartridge.black.value}}%</p></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section>
                <article>
                    <div class="chart">

                        <form method="post">
                            <div class="quantity">
                                <p class="quantity-cartridge-info">{{this.cartridge.cyan.name}} Storage: </p>
                                <input class="cartridge-storage" name="inc_storage_count" type="number" min="1" step="1" value="{{inc_supply.pr_tln_12k_HP_MFP252n_Cyan_supplies.supply}}">
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up">+</div>
                                    <div class="quantity-button quantity-down">-</div>
                                </div>
                            </div>
                            <input type="hidden" class="printer-title" name="inc_storage_title" value="{{this.name}}">
                            <input type="hidden" class="cartridge-name" name="inc_storage_name" value="{{this.cartridge.cyan.name}}">
                        </form>

                        <div class="bar bar-cartridge bar-{{this.cartridge.cyan.value}} cyan">
                            <div class="face top">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-0">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face floor">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-a"></div>
                            <div class="face side-b"></div>
                            <div class="face side-1">
                                <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{this.cartridge.cyan.value}}%</p></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <div class="chart">

                        <form method="post">
                            <div class="quantity">
                                <p class="quantity-cartridge-info">{{this.cartridge.magenta.name}} Storage: </p>
                                <input class="cartridge-storage" name="inc_storage_count" type="number" min="1" step="1" value="inc_supply.pr_tln_12k_HP_MFP252n_Magenta_supplies.supply">
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up">+</div>
                                    <div class="quantity-button quantity-down">-</div>
                                </div>
                            </div>
                            <input type="hidden" class="printer-title" name="inc_storage_title" value="{{this.name}}">
                            <input type="hidden" class="cartridge-name" name="inc_storage_name" value="{{this.cartridge.magenta.name}}">
                        </form>

                        <div class="bar bar-cartridge bar-{{this.cartridge.magenta.value}} magenta">
                            <div class="face top">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-0">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face floor">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-a"></div>
                            <div class="face side-b"></div>
                            <div class="face side-1">
                                <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{this.cartridge.magenta.value}}%</p></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <div class="chart">
                        <form method="post">
                            <div class="quantity">
                                <p class="quantity-cartridge-info">{{this.cartridge.yellow.name}} Storage: </p>
                                <input class="cartridge-storage" name="inc_storage_count" type="number" min="1" step="1" value="inc_supply.pr_tln_12k_HP_MFP252n_Yellow_supplies.supply">
                                <div class="quantity-nav">
                                    <div class="quantity-button quantity-up">+</div>
                                    <div class="quantity-button quantity-down">-</div>
                                </div>
                            </div>
                            <input type="hidden" class="printer-title" name="inc_storage_title" value="{{this.name}}">
                            <input type="hidden" class="cartridge-name" name="inc_storage_name" value="{{this.cartridge.yellow.name}}">
                        </form>
                        <div class="bar bar-cartridge bar-{{this.cartridge.yellow.value}} yellow">
                            <div class="face top">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-0">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face floor">
                                <div class="growing-bar"></div>
                            </div>
                            <div class="face side-a"></div>
                            <div class="face side-b"></div>
                            <div class="face side-1">
                                <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{this.cartridge.yellow.value}}%</p></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>

      {{else}}

          <div class="printer">
              <div class="title"><a href="//printers.pr_tln_10k_HP2420n__ip/" target="_blank">{{this.name}}<br>{{this.ip}}</a></div>
              <section>
                  <article>
                      <div class="chart">

                          <form method="post">
                              <div class="quantity">
                                  <p class="quantity-cartridge-info">{{this.cartridge.black.name}} Storage: </p>
                                  <input class="cartridge-storage" name="inc_storage_count" type="number" min="1" step="1" value="inc_supply.pr_tln_10k_HP2420n_Black_supplies.supply">
                                  <div class="quantity-nav">
                                      <div class="quantity-button quantity-up">+</div>
                                      <div class="quantity-button quantity-down">-</div>
                                  </div>
                              </div>
                              <input type="hidden" class="printer-title" name="inc_storage_title" value="{{this.name}}">
                              <input type="hidden" class="cartridge-name" name="inc_storage_name" value="{{this.cartridge.black.name}}">
                          </form>

                          <div class="bar bar-{{this.cartridge.black.value}} gray">
                              <div class="face top">
                                  <div class="growing-bar"></div>
                              </div>
                              <div class="face side-0">
                                  <div class="growing-bar"></div>
                              </div>
                              <div class="face floor">
                                  <div class="growing-bar"></div>
                              </div>
                              <div class="face side-a"></div>
                              <div class="face side-b"></div>
                              <div class="face side-1">
                                  <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{this.cartridge.black.value}}%</p></div>
                              </div>
                          </div>
                      </div>
                  </article>
              </section>
          </div>
    {{/if}}
   {{/each}}
</div>