<div class="container">
    <div class="led-box">
        <div class="internet-access-notification"></div>
        <div id="internet-access-indicator" class=""></div>
    </div>
    <div class="data-last-updated"></div>
</div>

<div class="container" style="flex-flow: inherit;">
    <div class="printer">
    <div class="pr-12k title">{{printers.pr_tln_12k_HPMFP252n__00}}</div>
        <div class="pr-12k title">{{printers.pr_tln_12k_HPMFP252n__ip}}</div>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__02}} gray">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_12k_HPMFP252n__02}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__04}} cyan">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__04}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__06}} magenta">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__06}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_12k_HPMFP252n__08}} yellow">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_12k_HPMFP252n__08}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    </div>



    <div class="printer">
        <p id='pr_tln_10k_HP2420n' style="display: none">{{printers.pr_tln_10k_HP2420n__12}}</p>
        <div class="pr-12k title">{{printers.pr_tln_10k_HP2420n__10}}</div>
        <div class="pr-12k title">{{printers.pr_tln_10k_HP2420n__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div id="pr_tln_10k_HP2420n_black_inc" class="">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p id="pr_tln_10k_HP2420n_text" class="p-adjust-black"></p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>






    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_10k_HPM476dn__20}}</div>
        <div class="pr-12k title">{{printers.pr_tln_10k_HPM476dn__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__22}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_10k_HPM476dn__22}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__24}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__24}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__26}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__26}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_10k_HPM476dn__28}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_10k_HPM476dn__28}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_6k_HP400dne__30}}</div>
        <div class="pr-12k title">{{printers.pr_tln_6k_HP400dne__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP400dne__32}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP400dne__32}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>






<div class="container" style="flex-flow: inherit;">
    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_6k_HP400__40}}</div>
        <div class="pr-12k title">{{printers.pr_tln_6k_HP400__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP400__42}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP400__42}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_6k_HP200__50}}</div>
        <div class="pr-12k title">{{printers.pr_tln_6k_HP200__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__52}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_6k_HP200__52}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__54}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__54}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__56}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__56}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_6k_HP200__58}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_6k_HP200__58}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_5k_HP200__60}}</div>
        <div class="pr-12k title">{{printers.pr_tln_5k_HP200__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__62}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_5k_HP200__62}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__64}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__64}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__66}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__66}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_5k_HP200__68}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_5k_HP200__68}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_4k_HP5225dn__70}}</div>
        <div class="pr-12k title">{{printers.pr_tln_4k_HP5225dn__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__72}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP5225dn__72}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__74}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__74}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__76}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__76}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP5225dn__78}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_4k_HP5225dn__78}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
<div class="container" style="flex-flow: inherit;">
    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_4k_HP400__80}}</div>
        <div class="pr-12k title">{{printers.pr_tln_4k_HP400__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP400__82}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP400__82}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_4k_HP_P3005__90}}</div>
        <div class="pr-12k title">{{printers.pr_tln_4k_HP_P3005__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP_P3005__92}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP_P3005__92}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_4k_HP521dn__100}}</div>
        <div class="pr-12k title">{{printers.pr_tln_4k_HP521dn__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_4k_HP521dn__102}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_4k_HP521dn__102}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>


    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_3k_HP476dn__110}}</div>
        <div class="pr-12k title">{{printers.pr_tln_3k_HP476dn__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__112}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_3k_HP476dn__112}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__114}} cyan">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__114}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__116}} magenta">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__116}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_3k_HP476dn__118}} yellow">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_3k_HP476dn__118}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>




</div>

<div class="container" style="flex-flow: inherit;">
<div class="printer">
    <div class="pr-12k title">{{printers.pr_tln_2k_HPPro8610__120}}</div>
    <div class="pr-12k title">{{printers.pr_tln_2k_HPPro8610__ip}}</div>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__122}} gray">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_2k_HPPro8610__122}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__124}} cyan">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__124}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__126}} magenta">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__126}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="chart">
                <div class="bar bar-{{printers.pr_tln_2k_HPPro8610__128}} yellow">
                    <div class="face top">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-0">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face floor">
                        <div class="growing-bar"></div>
                    </div>
                    <div class="face side-a"></div>
                    <div class="face side-b"></div>
                    <div class="face side-1">
                        <div class="growing-bar growing-bar-adjustment"><p class="p-adjust">{{printers.pr_tln_2k_HPPro8610__128}}%</p></div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>





    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_2k_HP1320n__130}}</div>
        <div class="pr-12k title">{{printers.pr_tln_2k_HP1320n__ip}}</div>
        <section>
            <article>
                <p id="pr_tln_2k_HP1320n_current_inc" style="display: none">{{printers.pr_tln_2k_HP1320n__132}}</p>
                <div class="chart">
                    <div id="pr_tln_2k_HP1320n_precent_measurement" class="gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p id="pr_tln_2k_HP1320n_text" class="p-adjust-black">%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="printer">
        <div class="pr-12k title">{{printers.pr_tln_1k_HP255dn__140}}</div>
        <div class="pr-12k title">{{printers.pr_tln_1k_HP255dn__ip}}</div>
        <section>
            <article>
                <div class="chart">
                    <div class="bar bar-{{printers.pr_tln_1k_HP255dn__142}} gray">
                        <div class="face top">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-0">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face floor">
                            <div class="growing-bar"></div>
                        </div>
                        <div class="face side-a"></div>
                        <div class="face side-b"></div>
                        <div class="face side-1">
                            <div class="growing-bar growing-bar-adjustment"><p class="p-adjust-black">{{printers.pr_tln_1k_HP255dn__142}}%</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>



</div>