<style>
    body {
        background-color: #0e0a0f;
    }
</style>

<div class="container" id="container" style="background-color: #0A0D13">
    <div class="printer">
        <div class="title"><a href="//{{this.ip}}/" target="_blank">{{this.name}}<br>{{this.ip}}</a></div>
        <section class="black-precentage-section printer-section">
            <article class="printer-map">
                <div>

                    {{#each printers_2k}}
                        <button onClick="reply_click(this.id)" class="hidden-button" id="{{@index}}">
                            <div class="led-box led-positioning"
                                 style="top: {{this.position_top}}px;left: {{this.position_left}}px;">
                                {{#ifEquals this.requested this.name}}
                                    <div class="led-green"></div>
                                {{else}}
                                    <div class="led-blue"></div>
                                {{/ifEquals}}
                            </div>
                        </button>
                        {{#ifEquals this.requested this.name}}
                        <div id="additional-data" class="{{@index}}"
                             style="left:{{this.position_left}}px; top:{{this.position_top}}px;display: block;">
                        {{else}}
                        <div id="additional-data" class="{{@index}}"
                             style="left:{{this.position_left}}px; top:{{this.position_top}}px;">
                        {{/ifEquals}}
                        <a href="//{{this.ip}}/"><p>{{this.ip}}</p></a>
                        <p>{{this.name}}</p>
                    </div>
                    {{/each}}

                    <img src="/images/2-floor.png" width="1640" height="1000" alt="10-floor">

                </div>
            </article>
        </section>
        <form action="/">
            <button>BACK</button>
        </form>
    </div>
</div>
