<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Printer</th>
        <th>Tooner</th>
        <th>Laoseis</th>
    </tr>
    </thead>
    <tbody>

    {{#each storage}}
        <tr>

            <th scope="row">{{@index}}</th>
            <td>

                {{#each this.printers}}
                    {{#ifEquals this ../this.selected_printer}}
                        <p style="color: red;">{{this}}</p>
                    {{else}}
                        <p id="{{this}}-{{@index}}">{{this}}</p>
                    {{/ifEquals}}
                {{/each}}
            </td>


            <td>

                    {{#each this.cartridge}}
                        {{#ifEquals this ../this.cartridge}}
                            <p style="color: red;">{{../this.cartridge}}</p>
                        {{/ifEquals}}
                    {{/each}}
                    {{else}}
                    <p>{{this.cartridge}}</p>

            </td>


            <td>
                <form method="post" action="/cartridge/storage">
                    <div class="quantity" style="margin: 5px 90px -5px 0;">
                        <input class="cartridge-storage" name="inc_storage_count" type="number" min="1"
                               step="1" value="{{this.storage}}">
                        <div class="quantity-nav">
                            <div class="quantity-button quantity-up">+</div>
                            <div class="quantity-button quantity-down">-</div>
                        </div>
                    </div>
                    <input type="hidden" class="printer-title" name="inc_storage_title"
                           value="{{this.name}}">
                    <input type="hidden" class="cartridge-name" name="inc_storage_name"
                           value="{{this.cartridge}}">
                    <input type="hidden" class="cartridge-name" name="update_route"
                           value="/storage">
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>