<style>
    body {
        background: url('https://jahdaicintron.com/wp-content/uploads/2013/07/5.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        font-family: Ubuntu, Roboto, serif;
        font-size: 18px;
        color: #fff;
        text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.4)
    }
    p{
        margin:0;
    }
</style>
<button class="button-special-style" id="printer-add-table-toggle" onclick="togglePrinterAdd()" style="display: block;left: 50%;position: relative;transform: translateX(-50%);">Add a printer</button>
<table id="printer-creation" style="display: none">
<!-- Add a printer-->
    <thead>
    <tr>
        <th>ASUKOHT</th>
        <th>IP</th>
        <th>VÄRV</th>
        <th>NIMI</th>
        <th>PRINTER</th>
        <th>ALGEBRA+</th>
        <th>KORRUS</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input id="input-location" class="printer-add" name="location" required placeholder="Masina asukoht"></td>
        <td><input id="input-ip" class="printer-add" name="IP" required placeholder="Masina IP"></td>
        <td><input id="input-color" class="printer-add" type="checkbox"></td>
        <td><input id="input-name" class="printer-add" name="printer_name" required placeholder="Printeri nimi"></td>
        <td><input id="input-model" class="printer-add" name="printer_model" placeholder="Printeri mudel"></td>
        <td><input id="input-max-capacity" class="printer-add" type="checkbox"></td>
        <td><input id="input-floor" class="printer-add" type="number" name="printer_floor" placeholder="Korruse number"></td>

        <td><form method="post" action="/admin/printer/add">
                <button id="button-printer-add" class="button-special-style" onclick="addPrinter()">Add</button>
                <input hidden name="input_location_submit" id="input-location-submit">
                <input hidden name="input_ip_submit" id="input-ip-submit">
                <input hidden name="input_color_submit" id="input-color-submit">
                <input hidden name="input_name_submit" id="input-name-submit">
                <input hidden name="input_max_capacity_submit" id="input-max-capacity-submit">
                <input hidden name="input_floor_submit" id="input-floor-submit">
                <input hidden name="input_printer_submit" id="input-printer-submit">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>ASUKOHT</th>
        <th>PRINTER</th>
        <th>NIMI</th>
        <th>IP</th>
        <th>VÄRV</th>
        <th>ALGEBRA+</th>
        <th>KORRUS</th>
        <th>NUPUD</th>
    </tr>
    </thead>
    <tbody>
    {{#each printers_all}}

        <tr id="row-{{@index}}">
            <!-- Printer ping status -->
            {{#if this.printer_ping.alive}}
                <td style="color: #01ff0b">{{@index}}</td>
            {{else}}
                <td style="color: red;">{{@index}}</td>
            {{/if}}
            <!-- Printer location-->
            <td>
                <p id="printer-location-{{@index}}">{{this.location}}</p>
                <input class="admin_input admin_input-cell input-display input-toggle" id="{{@index}}-location" name="printer-location" value="{{this.location}}"/>
            </td>
            <!-- THE printer model -->
            <td>
                <p id="printer-model-{{@index}}">{{this.model}}</p>
                <input class="admin_input admin_input-cell input-display input-toggle" id="{{@index}}-model" name="printer-model" value="{{this.model}}"/>
            </td>
            <!-- Printer name -->
            <td>
                <p id="printer-name-{{@index}}">{{this.name}}</p>
                <input class="admin_input admin_input-cell input-display" id="{{@index}}-name" name="printer-name" value="{{this.name}}"/>
            </td>
            <!--Printer ip-->
            <td>
                <a href="//{{this.ip}}/" target="_blank"><p id="printer-ip-{{@index}}" style="color:rgb(155, 207, 253);">{{this.ip}}</p></a>
                <input  class="admin_input admin_input-cell input-display" id="{{@index}}-ip" name="printer-ip" value="{{this.ip}}"/>
            </td>
            <!--Printer color-->
            <td class="input-color" id="color-{{@index}}">
                {{#if this.color}}
                    <p class="identification-{{@index}}">yes</p>
                    <input checked class="input-identification-color-{{@index}} input-display" type="checkbox">
                {{else}}
                    <p class="identification-{{@index}} ">no</p>
                    <input class="input-identification-color-{{@index}} input-display" type="checkbox">
                {{/if}}
            </td>
            <!-- Printer calculation neccesity-->
            <td class="input-max-capacity" id="max-capacity-{{@index}}">
                {{#if this.max_capacity}}
                    <p class="identification-{{@index}}">true</p>
                    <input checked class="input-identification-max-capacity-{{@index}} input-display" type="checkbox">
                {{else}}
                    <p class="identification-{{@index}} ">false</p>
                    <input class="input-identification-max-capacity-{{@index}} input-display" type="checkbox">
                {{/if}}
            </td>
            <!-- Printer floor position -->
            <td>
                <p class="static-floor-data-{{@index}}">{{this.floor}}</p>
                <input id="input-status-floor-{{@index}}" class="printer-add input-display input-toggle" onload="floorIdentification({{@index}})" value="{{this.floor}}"/>
            </td>
            <td>
                <div class="input-admin-buttons">
                    <button class="button-special-style" id="modify-{{@index}}" onclick="modifyToggle({{@index}})">
                        Uuenda
                    </button>
                    <!-- Data push -->
                    <form method="post" action="/admin/update" style="display:inline-block">
                        <input type="hidden" class="admin_input" id="{{@index}}-name" name="printer_name"/>
                        <input type="hidden" class="admin_input" id="{{@index}}-ip" name="printer_ip"/>
                        <input type="hidden" class="admin_input" id="{{@index}}-color" name="printer_color"/>
                        <input type="hidden" class="admin_input" id="{{@index}}-max-capacity" name="printer_max_capacity"/>
                        <input type="hidden" class="admin-input" id="{{@index}}-floor" name="printer_floor"/>
                        <input type="hidden" class="admin_input" id="{{@index}}-measure" name="printer_measure" value="2034{{this.id}}"/>
                        <input type="hidden" class="admin_input" id="{{@index}}-old-name" name="printer_old_name">
                        <input type="hidden" class="admin_input" id="{{@index}}-location-admin" name="printer_location">
                        <input type="hidden" class="admin_input" id="{{@index}}-model-admin" name="printer_model">
                        <button onclick="savePrinterData({{@index}})" class="btn btn-success" id="save-{{@index}}" style="display: none;padding: 2px 4px;margin-bottom: -4px;">
                            Salvesta
                        </button>
                    </form>

                    <form method="post" action="/admin/printer/delete" style="display:inline-block">
                        <button class=" btn btn-danger" id="delete-{{@index}}" onclick="deletePrinter({{@index}})"
                                style="display: none;padding: 2px 4px;margin-bottom: -4px;">Kustuta
                        </button>
                        <input hidden name="input_name_delete" id="input_name_delete-{{@index}}">
                        <input hidden name="input_ip_delete" id="input_ip_delete-{{@index}}">
                    </form>

                    <button class="button-special-style" id="button-info-{{@index}}" onclick="infoToggle({{@index}})">Info</button>
                    <div id="div-info-{{@index}}" class="input-display">
                        <form action="/{{this.location}}/floor/{{this.floor}}k/{{this.name}}" style="display:inline-block">
                            <button class="button-special-style">Asukoht</button>
                        </form>
                        <form action="/storage/{{this.name}}" style="display:inline-block">
                            <button class="button-special-style">Ladu</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>







